<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Know Yourself</title>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <h1>Get Started</h1> 
    <div class="form-container">
        <form method="POST" id="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" >
            </div>        

            <div class="form-group"> 
                <label for="age">Age</label>
                <input type="number" name="age">
            </div>

            <div class="form-group">
                <label for="text">Text</label>
                <textarea  name="text" cols="50" rows="10"></textarea></textarea>
            </div>

            <div class="submit form-control">
                    <input class="submit form-control" type="submit" name="submit" value="Submit">
            </div>
    </div>
        </form>
</body>
</html>